<body>

  <div class="container">
    <div class="calc-input">
      <p name="user-input" id="userinput">0</p>
    </div>
    <div class="calc-keys">
      <button class="operations-others operations" type="button" (click)="allClear()">AC</button>
      <button class="operations-others operations" type="button" (click)="handleDelete()">Del</button>
      <button class="operations-others operations" type="button">%</button>
      <button class="operations" type="button" (click)="appendOperator('/')">/</button>

      <button class="numbers" type="button" (click)="appendNumber('7')">7</button>
      <button class="numbers" type="button" (click)="appendNumber('8')">8</button>
      <button class="numbers" type="button" (click)="appendNumber('9')">9</button>
      <button class="operations" type="button" (click)="appendOperator('*')">*</button>

      <button class="numbers" type="button" (click)="appendNumber('4')">4</button>
      <button class="numbers" type="button" (click)="appendNumber('5')">5</button>
      <button class="numbers" type="button" (click)="appendNumber('6')">6</button>
      <button class="operations" type="button" (click)="appendOperator('-')">-</button>

      <button class="numbers" type="button" (click)="appendNumber('1')">1</button>
      <button class="numbers" type="button" (click)="appendNumber('2')">2</button>
      <button class="numbers" type="button" (click)="appendNumber('3')">3</button>
      <button class="operations" type="button" (click)="appendOperator('+')">+</button>

      <button class="key-zero" type="button" (click)="appendNumber('0')">0</button>
      <button class="numbers" type="button" (click)="addDecimal()">.</button>
      <button class="operations" type="button" (click)="calculateResult()">=</button>
    </div>

  </div>
</body>