.calculator {
  width: 300px;
  margin: 15% auto;
  border: 1px solid #000000;
  padding: 10px;
}

table {
  width: 100%;
  table-layout: fixed;
  background-color: #c9c7c7;
}

td {
  padding: 5px;
  text-align: center;
}

input[type="text"] {
  width: 93%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
